@import "./animations";
@import "./fonts";
@import "./variables";

* {
  font-family: "Montserrat", sans-serif;
}

.infos {
  &-title {
    color: var(--txt-color);
    font-weight: 600;
    font-size: 13px;
  }

  &-content {
    color: var(--txt-color);
    font-size: 12px;
    font-weight: 400;
  }
}

textarea {
  resize: none !important;
  height: 15vh !important;
}

input::placeholder,
textarea::placeholder,
[showAsPlaceholder] {
  text-transform: none;
  font-weight: 400;
  font-size: 15px !important;
  color: var(--txt-color) !important;
}

input,
textarea {
  font-weight: 500 !important;
}

.small-text {
  font-size: 13px;
  color: #3483fa;
}

.icon-success {
  color: #00af7b;
  fill: #00af7b;
}

.card-tag {
  padding: 8px 16px;
  color: #fff;
  background: #3483fa;
  text-align: center;
  border-radius: 5px;
  font-size: 12px;
  display: block;
  max-width: 100px;
  margin-bottom: 20px;
  position: relative;
}

.card-tag::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -8px;
  left: 8px;
  width: 0px;
  height: 0px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #3483fa;
}

 .vti__input {
  background: var(--checkout);
}

.vti__dropdown:hover{
  background-color: var(--border-color) !important;
}
.vti__dropdown-item.highlighted {
  background-color:  var(--border-color) !important;
}

.vti__dropdown.open,.vti__dropdown-item {
  background-color:  var(--checkout) !important;
}